
/************ HTML Elements ***************/
body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  /* font-size: 2em; */
  color: grey;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;  
}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}

/************ Top container ***************/
.top-container {
  background-color: #eaf6f6;
  padding-top: 150px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 80px;
}

.bottom-cloud {
  bottom: 360px;
  left: 250px;
  position: absolute;
}

.img-mountain {
  padding-top: 100px;
}

/* animation */
.title {
  overflow: hidden; 
 }

.text {
  /* display: inline-block;  */
  float: left;

}

.text-software {
  position: absolute;
  animation: mid-to-bottom-part1 2s ease 5s 1 forwards;
} 

.text-web {
  position: absolute;
  top: -800px;
  animation: top-to-mid-part1 6s ease 2s 1 forwards;
}

.text-engineer {
  position: absolute;
  left: 185px;
  animation: mid-to-bottom-part2 4s ease 2s 1 forwards;
} 

.text-developer {
  position: absolute;
  top: -150px;
  left: 185px;
  animation: top-to-mid-part2 6s ease 2s 1 forwards;
}

@keyframes mid-to-bottom-part1 {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 100%;
  }

  to {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
}

@keyframes top-to-mid-part1 {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 800px, 0);
    opacity: 100%;
  }
}

@keyframes mid-to-bottom-part2 {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 100%;
  }

  to {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
}

@keyframes top-to-mid-part2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  
  50% {
    transform: translate3d(0, 150px, 0);
    opacity: 100%;
  }

  100% {
    transform: translate3d(-90px, 150px, 0);
    opacity: 100%;
  }
}

/************ Middle container ***************/
.middle-container {
  padding-top: 150px;  
  padding-bottom: 100px;
}

/* Profile Section */
.profile {
  display: inline-block;
}

.profile p {
  line-height: 4;
}

.profile-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}


/* Skills Section */
.skill-row {
  display: inline-block;
  margin: 25px auto 25px auto;
  text-align: left;
  width: 50%;
}

.software-img {
  border-radius: 50%;
  float: left;
  margin: 30px;
  height: 200px;
  width: 200px;
}

.code-img {
  border-radius: 50%;
  float: right;
  margin: 30px;
  height: 200px;
  width: 200px;
}



/* Contact Me Section */

.contact-btn {
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	box-shadow: 0 10px 14px -7px #276873;
  clear: both;
  color:#ffffff;
	cursor:pointer;
	display:inline-block;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
}
.contact-btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.contact-btn:active {
	position:relative;
	top:1px;
}

.contact-me {
  margin: 80px;
}

.contact-desc {
  margin: 30px auto 30px auto;
  width: 30%;
}

/*
.code-skill-description {
  clear: left;
}

.chilly-skill-description {
  clear: right;
}

/************ Bottom container ***************/

.bottom-container {
  background-color: #599bb3;
  padding: 50px 0 50px 0;
}

.footer-link {
  color: #005082;
  padding: 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
}

.copyright {
  font-size: 0.6rem;
  margin-top: 20px;
}


